nav {
    display: block;
    position: left;
    float: left;
    text-decoration-style: none;
}

header {
    background-color: aqua;
    font: caption;
    font-size:x-large;
}

footer {
    position:fixed;
    left: 0;
    bottom: 5%;
    width: 100%;
    text-align: center;
}